.wrapper {
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 40px 50px;
}

.headline {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

.form { 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form div{ 
    display: flex;
    align-items: center;
    gap: 10px;
}

.input{ 
    width: 500px;
    height: 40px;
    border: none;
    background-color: #D9D9D9;
    padding: 0 10px;
    border-radius: 3px;
    outline: none;
}

.label { 
    font-size: 36px;
}

.buttonBox{
    display: flex;
    justify-content: center;
}

.buttonBox input{
    height: 40px;
    padding: 0 40px;
    font-size: 24px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 6px;
}

.errors{ 
    flex-direction: column;
    color: red;
}