
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root {
  --block-background-color: rgba(0, 0, 0, 0.027);
}

body {
  font-family: "Geist";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-image: url('../../public/images/bg.jpg');
}


/* 
* {
  margin: 0;
  padding: 0;
} */

