
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --block-background-color: rgba(0, 0, 0, 0.027);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

